h2 {
  text-align: center;
  margin-top: -5px;
  margin-bottom: 20px;
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 12px;
}

.pokedex-container {
  position: absolute;
  width: 300px;
  height: 373px;
  margin-top: 387px;
  right: 595px;
  padding: 20px;
}

.stats-box {
  height: 370px;
  width: 295px;
  background-color: crimson;
  margin-top: -360px;
  margin-left: -18px;
}

.abilities-button {
  position: fixed;
  right: 610px;
  top: 720px;
}
