.pokemon-container {
  height: 337px;
  width: 330px;
  margin-top: -447px;
  margin-left: -410px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon {
}

.pokemon-name {
  display: flex;
  justify-self: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 30px;
}

.button {
  background-color: red;
  text-align: center;
  width: 100px;
  height: 30px;
}
